/* NEW BLOCKS GENERAL SETTINGS */

/* Παραμετροποιήσεις για Full width */

.home-service-section {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
}
.container, .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container {
    max-width: 100% !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.col-lg-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* END Παραμετροποιήσεις για Full width */

/* Reset */
.alt-font {
    font-family: var(--alt-font) !important;
}
.primary-font {
    font-family: var(--primary-font) !important;
}

@media (min-width: 1200px) {
    .offset-xl-1 {
        margin-left: 0 !important;
    }
}

.mb-9 {
    margin-bottom: 0 !important;
}

.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none !important;
}

a.d-flex.align-items-center.pe-20px.text-dark-gray.fw-600.alt-font.collapsed {
    text-decoration: none !important;
}

.btn {
    border: 0 !important;
}

.btn.btn-large {
    text-align: center !important;
}

.p-14-top-bot {
    padding-top: 14% !important;
    padding-bottom: 14% !important;
}

@media (min-width: 1200px) {
    .col-lg-10 {
        width: 70% !important;
    }
}

.home-service-section {
    padding-bottom: 0 !important;
}

@media (max-width: 768px) {
    .w-90 {
        width: 100% !important;
        padding: 5% !important;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.menu_Open {
        top: 100px !important;
    }
}
/* END Reset */

/* Font custom */
.font-style-italic {
    font-style: italic !important;
}
.hover-text {
    display: none !important;
}
b, strong {
    font-weight: 700 !important;
}

/* END Font custom */

/* Gallery 2 */

.container.gallery-container2 {
    background-color: #fff !important;
    color: #35373a !important;
    min-height: 100vh !important;
    padding: 30px 50px !important;
}

gallery-container2 h1 {
    text-align: center !important;
    margin-top: 50px !important;
    font-family: 'Droid Sans', sans-serif !important;
    font-weight: bold !important;
}

.gallery-container2 p.page-description {
    text-align: center !important;
    margin: 25px auto !important;
    font-size: 18px !important;
    color: #999 !important;
}

.tz-gallery {
    padding: 40px !important;
}

.tz-gallery .row > div {
    padding: 2px !important;
}

.tz-gallery .lightbox img {
    width: 100% !important;
    border-radius: 0 !important;
    position: relative !important;
}

.tz-gallery .lightbox:before {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -13px !important;
    margin-left: -13px !important;
    opacity: 0 !important;
    color: #fff !important;
    font-size: 26px !important;
    font-family: 'Glyphicons Halflings' !important;
    content: '\e003' !important;
    pointer-events: none !important;
    z-index: 9000 !important;
    transition: 0.4s !important;
}

.tz-gallery .lightbox:after {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    background-color: rgba(46, 132, 206, 0.7) !important;
    content: '' !important;
    transition: 0.4s !important;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1 !important;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.tz-gallery .row {
    display: initial !important;
}

/* END Gallery 2 */

/* Gallery 3 */

.gallery3-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.gallery3-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
}
.gallery3-item:hover {
    opacity: 1;
}
.gallery3-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery3-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}

@media (max-width: 767px) {
    .gallery3-container {
        width: 100%;
    }
    .gallery3-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .gallery3-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}

/* END Gallery 3 */

/* OGI Video Banner 1 */

.videoWrapper {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 25px !important;
    height: 0 !important;
    top: -71px !important;
}

.videoWrapper iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.videoWrapper video {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.video-background1 {
    background: #000 !important;
    position: relative !important;
    width: 100% !important;
    height: 600px !important;
    margin: 0 auto !important;
    z-index: 1 !important;
    overflow: hidden !important;
}

.video-foreground1,
.video-background1 iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none !important;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground1 {
        height: 300% !important;
        top: -100% !important;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground1 {
        width: 300% !important;
        left: -100% !important;
    }
}

.content-vid1 {
    padding: 0 25px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: absolute !important;
    z-index: 2 !important;
    top: 0% !important;
    transform: translate(0%, 10%) !important;
}

@media (max-width: 768px) {
    .content-vid1 {
        transform: translate(0%, 5%) !important;
    }
}

/* END OGI Video Banner 1 */

/* OGI About 5 */

#ogi-about5 img {
    transition: transform 0.3s ease !important;
}

#ogi-about5 img:hover {
    transform: scale(1.1) !important;
}

/* END OGI About 5 */

@media (min-width: 1200px) {
    #ogihero3 .col-lg-10, #ogihero4 .col-lg-10 {
        width: 60% !important;
    }

    section#ogihero4 .container {
        max-width: 80% !important;
    }
}

/* Accordion 1 */

.accordion1-header a {
    text-decoration: none !important;
}

#ogi-accordion1 .icon-small, span.fa-solid.fa-angle-down.icon-small {
    padding: 5px !important;
}

span.fa-solid.icon-small.fa-angle-right {
    padding: 5px !important;
}

@media (min-width: 769px) {

    #ogi-accordion1 .col-12 {
        padding: 7% !important;
    }
}
/* END Accordion 1 */


/*  OGI About 1 */

.ogi-tilt1-container {
    transition: transform 0.3s ease-out;
    transform-style: preserve-3d;
    perspective: 1000px;
}
/* END OGI About 1 */

/* OGI About 2 */

section#ogi-about2 .col-lg-5 {
    padding-top: 5% !important;
    padding-left: 7% !important;
    padding-bottom: 5% !important;
}

section#ogi-about2 .col-lg-7 {
    padding-top: 5% !important;
}

#ogi-about2 .btn.btn-link {
    padding: 20px 0px 20px 15px !important;
}

#ogi-about2 p {
    line-height: 30px !important;
}

#ogi-about2 .col-lg-5,
#ogi-about2 .col-lg-7 {
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
}

#ogi-about2 .row > * {
    padding-left: 0 !important;
}

section#ogi-about2 .service1 {
    padding-top: 15% !important;
}

/* END OGI About 2 */


/* OGI Banner 1 */

@media (min-width: 1200px) {
    #ogi-banner1 .col-lg-8 {
        width: 50% !important;
    }
}

#ogi-banner1 p {
    line-height: 40px !important;
}

section#ogi-phone-banner1 .col-12 {
    min-height: 900px !important;
}

@media (min-width: 769px) {
    section#ogi-phone-banner1 {
        display: none !important;
    }
}

@media (max-width: 768px) {
    section#ogi-banner1 {
        display: none !important;
    }
}

section#ogi-banner1 a:hover {
    background-color: var(--color1) !important;
}

/* END OGI Banner 1 */

/* OGI About 3 */

@media (min-width: 1200px) {
    #ogi-about3 .col-lg-6 {
        width: 33.3333333% !important;
    }
}
#ogi-about3 .col-lg-6, #ogi-about4 .col-lg-6 {
    min-height: 384px !important;
}

/* END OGI About 3 */


/* OGI About 4 */

section#ogi-about4 {
    margin-top: -10px !important;
}

#ogi-about4 .col-lg-6, #ogi-about4 .col-lg-8 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#ogi-about4 img {
    object-fit: cover !important;
    object-position: center !important;
}

/* END OGI About 4 */


/* OGI Testimonials 1 */

#testimonials1 em {
    font-size: 25px !important;
    color: white !important;
    background-color: var(--color1) !important;
    height: 40px !important;
    padding-top: 5px !important;
    padding-left: 7px !important;
}

@media (min-width: 809px) {

#testimonials1 {
padding-left: 20px !important;
padding-right: 20px !important;
}

#testimonials1 em {
    margin-left: 75px !important;
    margin-top: 20px !important;
}
.testimonials1-border {
border-radius: 100px !important;
}
.testimonials1-text {
padding-left: 40px !important;
}
}

@media (max-width: 808px) {
#testimonials1 {
padding-left: 20px !important;
padding-right: 20px !important;
}
#testimonials1 em {
margin-left: -25px !important;
    margin-top: 10px !important;
}

.testimonials1-border{
border-radius: 0 !important;
}
}

/* END OGI Testimonials 1 */

/* OGI Testimonials 2 */

.shadow-effect-testimonials2 {
    background: #fff !important;
    padding: 20px !important;
    border-radius: 4px !important;
    text-align: center !important;
    border: 1px solid #ECECEC !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10) !important, 0 15px 12px rgba(0,0,0,0.02) !important;
}
#customers-testimonials2 .shadow-effect-testimonials2 p {
    font-family: inherit !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    margin: 0 0 17px 0 !important;
    font-weight: 300 !important;
}
.testimonials2-name {
    margin: -17px auto 0 !important;
    display: table !important;
    width: auto !important;
    background: #3190E7 !important;
    padding: 9px 35px !important;
    border-radius: 12px !important;
    text-align: center !important;
    color: #fff !important;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12) !important, 0 5px 7px rgba(0,0,0,0.05) !important;
}
#customers-testimonials2 .item {
    text-align: center !important;
    padding: 50px !important;
    margin-bottom: 80px !important;
    opacity: .2 !important;
    -webkit-transform: scale3d(0.8, 0.8, 1) !important;
    transform: scale3d(0.8, 0.8, 1) !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
#customers-testimonials2 .owl-item.active.center .item {
    opacity: 1 !important;
    -webkit-transform: scale3d(1.0, 1.0, 1) !important;
    transform: scale3d(1.0, 1.0, 1) !important;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d !important;
    max-width: 90px !important;
    margin: 0 auto 17px !important;
}
#customers-testimonials2.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials2.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7 !important;
    transform: translate3d(0px, -50%, 0px) scale(0.7) !important;
}
#customers-testimonials2.owl-carousel .owl-dots {
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
}
#customers-testimonials2.owl-carousel .owl-dots .owl-dot {
    display: inline-block !important;
}
#customers-testimonials2.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7 !important;
    display: inline-block !important;
    height: 20px !important;
    margin: 0 2px 5px !important;
    transform: translate3d(0px, -50%, 0px) scale(0.3) !important;
    transform-origin: 50% 50% 0 !important;
    transition: all 250ms ease-out 0s !important;
    width: 20px !important;
}
/* END OGI Testimonials 2 */

/* END NEW BLOCKS */
